# --- 后端 (Java/Idea) 屏蔽规则 ---
**/ducha-houduan/target/
**/ducha-houduan/.idea/
**/ducha-houduan/*.iml
**/ducha-houduan/.mvn/
**/ducha-houduan/bin/

# --- 前端 (WebStorm/Node) 屏蔽规则 ---
**/ducha-qianduan/node_modules/
**/ducha-qianduan/dist/
**/ducha-qianduan/.project
**/ducha-qianduan/.DS_Store

# --- 通用系统文件 ---
.idea/
.vscode/
*.log
temp/
