<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supervision.peopleManage.mapper.VisitorMapper">

    <resultMap type="Visitor" id="VisitorResult">
        <result property="id" column="id" /> 
        <result property="employeeNumber" column="employee_number" /> 
        <result property="name" column="name" /> 
        <result property="idCard" column="id_card" /> 
        <result property="phone" column="phone" /> 
        <result property="company" column="company" /> 
        <result property="plateNumber" column="plate_number" /> 
        <result property="avatar" column="avatar" /> 
    </resultMap>

    <sql id="selectVisitorVo">
        select id, employee_number, name, id_card, phone, company, plate_number, avatar from visitor
    </sql>

    <select id="selectVisitorList" parameterType="Visitor" resultMap="VisitorResult">
        <include refid="selectVisitorVo"/>
        <where>
            <if test="employeeNumber != null and employeeNumber != ''"> and employee_number like concat('%', #{employeeNumber}, '%')</if>
            <if test="name != null and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="idCard != null and idCard != ''"> and id_card = #{idCard}</if>
            <if test="phone != null and phone != ''"> and phone = #{phone}</if>
            <if test="company != null and company != ''"> and company = #{company}</if>
            <if test="plateNumber != null and plateNumber != ''"> and plate_number = #{plateNumber}</if>
            <if test="avatar != null and avatar != ''"> and avatar = #{avatar}</if>
        </where>
    </select>

    <select id="selectVisitorById" parameterType="Long" resultMap="VisitorResult">
        select id, employee_number, name, id_card, phone, company, plate_number, avatar from visitor where id = #{id}
    </select>

    <insert id="insertVisitor" parameterType="Visitor" useGeneratedKeys="true" keyProperty="id">
        insert into visitor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="employeeNumber != null and employeeNumber != ''">employee_number,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="idCard != null and idCard != ''">id_card,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="company != null and company != ''">company,</if>
            <if test="plateNumber != null and plateNumber != ''">plate_number,</if>
            <if test="avatar != null and avatar != ''">avatar,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="employeeNumber != null and employeeNumber != ''">#{employeeNumber},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="idCard != null and idCard != ''">#{idCard},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="company != null and company != ''">#{company},</if>
            <if test="plateNumber != null and plateNumber != ''">#{plateNumber},</if>
            <if test="avatar != null and avatar != ''">#{avatar},</if>
        </trim>
    </insert>

    <update id="updateVisitor" parameterType="Visitor">
        update visitor
        <trim prefix="SET" suffixOverrides=",">
            <if test="employeeNumber != null and employeeNumber != ''">employee_number = #{employeeNumber},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="idCard != null and idCard != ''">id_card = #{idCard},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="company != null and company != ''">company = #{company},</if>
            <if test="plateNumber != null and plateNumber != ''">plate_number = #{plateNumber},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteVisitorById" parameterType="Long">
        delete from visitor where id = #{id}
    </delete>

    <delete id="deleteVisitorByIds" parameterType="String">
        delete from visitor where id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectVisitorByEmployeeNumber" resultType="com.supervision.peopleManage.domain.Visitor">
        select * from visitor where employee_number = #{employeeNumber} for update
    </select>
</mapper>